<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <!-- Folder name of the WebUI application-->
    <add key="WebUIAppFolderName" value="PaymentDetailsRegister.WebUI" />
    <!-- Host the WebUI application is hosted on -->
    <add key="WebUIAppHost" value="http://localhost" />
    <!-- Port the WebUI application is hosted on -->
    <add key="WebUIAppPort" value="4200" />
    <!-- Host the MOCK Payment Details Register web api is hosted on -->
    <add key="MockPaymentDetailsApiHost" value="http://localhost" />
    <!-- Port the MOCK Payment Details Register web api is hosted on -->
    <add key="MockPaymentDetailsApiPort" value="47253" />
  </appSettings>
</configuration>
